<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="text-align:justify;">This confirmation is to notify you that <%= @user.first_name %> <%= @user.last_name %> has completed their registration form and is now registered for ExxonMobil DLM 2017.</p>
  </body>
</html>